/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Outfit", system-ui !important;
}

.shadow_btm {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pointer {
  cursor: pointer;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg_primary {
  background-color: #0288d1;
  color: white !important;
}

.bg_secondary {
  background-color: #0288d1 !important;
}

.bg_terziary {
  background-color: #e5e5e5;
}

.main-card {
  border: 2px solid #0288d1 !important;
}

/* FORM */

input:focus {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(8, 188, 53, 0.9) !important;
  -moz-box-shadow: 0px 0px 16px 3px rgba(8, 188, 53, 0.9) !important;
  box-shadow: 0px 0px 16px 3px rgba(8, 188, 53, 0.9) !important;
}

select:focus {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(8, 188, 53, 0.9) !important;
  -moz-box-shadow: 0px 0px 16px 3px rgba(8, 188, 53, 0.9) !important;
  box-shadow: 0px 0px 16px 3px rgba(8, 188, 53, 0.9) !important;
}

.form-control,
.form-select {
  border-radius: 11px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-label {
  margin-bottom: 0 !important;
  color: white;
  font-weight: 600;
}

@media screen and (min-width: 481px) {
  .long-input {
    width: 77.5% !important;
  }

  .right-label {
    width: 140px;
  }

  .prov-cont {
    width: 50%;
  }

  .prov-lab {
    width: 67%;
  }

  .sex-cont {
    width: 30%;
  }

  .sex-input {
    width: 66% !important;
  }

  .date-input {
    width: 20% !important;
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  .form-label {
    font-size: 0.9em !important;
  }

  .long-input {
    width: 80% !important;
  }

  .right-label {
    width: 28%;
  }

  .prov-lab {
    width: 36%;
  }

  .sex-cont {
    width: 50%;
  }

  .sex-input {
    background-size: 10px 8px !important;
    padding: 0.2rem 1.25rem 0.175rem 0.25rem !important;
  }

  .prov-input {
    width: 57% !important;
  }

  .date-input {
    width: 80% !important;
    margin-left: 0.5em;
  }
}

/* SPINNER */

.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(circle closest-side, white 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, white 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, white 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 100%;
  background-repeat: no-repeat;
  animation: dots-zcf63l 1s infinite linear;
}

@keyframes dots-zcf63l {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }

  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }

  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

/* INVERSE PAGE */

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos p {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.infos p {
  font-weight: bold;
}

.infos span {
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .infos p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em !important;
  }
}

/* NAVBAR */
a:not(.nav-link) {
  color: white;
}

.navbar-brand {
  color: inherit !important;
}

/* CLIPBOARD */

.clipboard {
  width: 32px;
  height: 32px;
  padding: 0px;
  transform: scale(2);
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

@media screen and (max-width: 480px) {
  .clipboard {
    width: 20px;
    height: 20px;
    padding: 0px;
    transform: scale(2);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
}

.clipboard svg {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}
.clipboard svg path {
  stroke-width: 1.5;
  stroke: white;
  fill: black;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.clipboard svg path.page {
  transform-origin: center;
}
.clipboard svg path.check {
  transform-origin: center;
  stroke-dasharray: 8;
  stroke-dashoffset: 8;
  stroke: #83f5ad;
}

.clipboard:hover svg {
  opacity: 1;
}
.clipboard.copied svg path.page {
  animation: copiedPage 2s ease forwards;
}
.clipboard.copied svg path.check {
  stroke-dasharray: 16;
  transition: all 0.5s ease;
  animation: copiedPage 2s ease forwards;
}

@keyframes copiedPage {
  0% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(10deg) translateY(16px);
    opacity: 0;
  }
}
